
.btn-costum{
    color:white;
    border-radius: 1.5rem;
    padding:0.5em 1.5em;
    border:2px solid white;
}
.btn-costum:hover{
    color:#2a2a2a;
    background:white;
}
.all-hoodie-img{
    width:70px;
    height: auto;
    border-radius: 70px;
}
.name-img-td{
    display:flex;
    align-items:center
}
.create-hoodie-img{
    width:50%;
}
